<div class="card" style="width: 30rem;">
  <div class="card-header">
	<h1>Editing Activity</h1>
  </div>
  <ul class="list-group list-group-flush">
  	<%= render 'form', activity: @activity %>
  </ul>
</div>

<br>

<%= link_to 'Show', @activity, class:"btn btn-primary" %> &nbsp;
<td><%= link_to 'Delete', @activity, class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td> &nbsp;
<%= link_to 'Back', activities_path, class:"btn btn-danger" %>
