
<div class="card" style="width: 22rem;">
  
  <div class="card-header">
    <%= @activity.name %>
  </div>
  
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      
      <p>
      	<%= @activity.description %>
      </p>

      <footer class="blockquote-footer">
      	<cite title="Source Title">
      	<% if @activity.share %>
    		Shared!
    	<% else %>
    		Not Shared
    	<% end %>
      	</cite>
      </footer>

    </blockquote>
  </div>
</div>

<br>

<%= link_to 'Edit', edit_activity_path(@activity), class:"btn btn-success" %>
<%= link_to 'Back', activities_path, class:"btn btn-danger" %>
